services:
  requestform-server:
    build:
      context: ./
      dockerfile: Dockerfile
    image: requestform-server
    container_name: requestform-server
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./storage:/var/www/storage
      - ./bootstrap/cache:/var/www/bootstrap/cache
      - ./:/var/www
      - ./docker-compose/nginx/default.conf:/etc/nginx/nginx.conf
      - /mnt/nvme0n1/requestUploads:/mnt/nvme0n1/requestUploads
      #- /mnt/nvme0n1/requestUploads:/var/www/storage/app/public

    networks:
      - requestform-server
    environment:
      DB_CONNECTION: mysql
      DB_HOST: 172.17.0.1  # Replace with your host's IP if necessary
      DB_PORT: 3306
      DB_DATABASE: requestform
      DB_USERNAME: smct
      DB_PASSWORD: smct
    #   REDIS_HOST: 172.17.0.1
    #   REDIS_PORT: 6379
    #   REDIS_CLIENT: phpredis
    # deploy:
    #   replicas: 3  # Set the desired number of replicas

  requestform-nginx:
    image: nginx:alpine
    container_name: requestform-nginx
    restart: unless-stopped
    ports:
      - 8004:8004
    volumes:
      - ./storage:/var/www/storage
      - ./bootstrap/cache:/var/www/bootstrap/cache
      - ./docker-compose/nginx/default.conf:/etc/nginx/nginx.conf
      - ./:/var/www
      - /mnt/nvme0n1/requestUploads:/mnt/nvme0n1/requestUploads
      #- /mnt/nvme0n1/requestUploads:/var/www/storage/app/public

    networks:
      - requestform-server
  requestform-reverb:
    build:
      context: ./
      dockerfile: Dockerfile-reverb
    ports:
    - "8082:8082" # expose Reverb server
    environment:
    - APP_URL=${APP_URL}
    - LARAVEL_REVERB_APP_KEY=${REVERB_APP_KEY}
    - LARAVEL_REVERB_APP_SECRET=${REVERB_APP_SECRET}
    depends_on:
    - requestform-server
    restart: unless-stopped
    container_name: requestform-reverb

    networks:
      - requestform-server

  queue-worker:
    image: requestform-server
    container_name: requestform-server-worker
    working_dir: /var/www/
    depends_on:
      - requestform-server
    command: php artisan queue:work redis
    volumes:
      - ./storage:/var/www/storage
      - ./bootstrap/cache:/var/www/bootstrap/cache
      - ./:/var/www
    networks:
      - requestform-server
    restart: unless-stopped
    # environment:
    #   REDIS_HOST: 172.17.0.1
    #   REDIS_PORT: 6379
    #   REDIS_CLIENT: phpredis

#   redis:
#     image: redis:alpine
#     container_name: requestform-redis
#     restart: unless-stopped
#     ports:
#       - "6379:6379"
#     networks:
#       - requestform-server


networks:
  requestform-server:
    driver: bridge
